<style>
.active{
  background: red;
}

</style>
<header-root></header-root> <!-- Added as directive for header -->
<div>
    <custdirective></custdirective>
  {{title}}
  {{name}}
  <button (click)="save()" [ngClass]="{'active':showClass}">Click me</button>
  <div [ngStyle]="styleProp" *ngIf="showClass">fdsfdf</div>

</div> 
<table>
  <thead>
    <th>Name</th>
    <th>Age</th>
  </thead>
  <tr *ngFor="let stu of students">
    <td>{{stu.name|customfilter}}</td>
    <td>{{stu.age}}</td>
  </tr>
</table>

<router-outlet></router-outlet> <!-- Enable the view for the related component based on routing-->
